<app-header></app-header>
<div class="container">
<div class="row-content"></div>	
		<div class="row-content" >
         			<div class="col-lg-3">
					<p></p>
					<p></p>
		     
			<h4>
				Divorce
	    	</h4>
						<p>
						

				<div class="pull-left">
				
				</div>
				<div class="pull-right" style="margin-left:10px;"></div>
				</div>
		
				
		
			
					<div class="col-lg-9">
						
				<hr />
				<div>
				<h4>
				Divorce Deed
	    	</h4>
				
				<p>









This DIVORCE DEED is made at Karachi	on this	_______

day of _____________2008


Whereas	__________	son	______________	Muslim,	adult,

holding	CNIC	No.	___________________resident	of	House	No.

________________________________,  Karachi  was  married  to  Mst.

_______________ daughter of ___________________________, Muslim,

adult,	holding	CNIC	No._________________________resident	of

House	NO.	_____________________________________________,

Karachi on ___________________ against the dower amount of Rs.

___________________ at Karachi according to Muslim personal law.


THAT the marriage was duly consummated and the spouses started to live has husband and wife and there are three issues namely (1) _____________ age about_________years (2)

_____________age  about  _______years  and  (3)______________  age

about only _____ years.


That in the first instance the spouses live amicably with love and affection but thereafter such rose and arguments got created and difference got created and all efforts for reconciliations failed in spite of elders and well wishers

Continued on page……2


Page….2


interferences. There were often quarreling and unrest in the matrimonial life and the matrimonial life filled with hate, disgust and scorn however the spouses tired their best to save the matrimonial life but all in vain.


That due to the misunderstanding and quarreling the high degree hatred got created between the spouses and it is difficult
 







rather impossible to live the spouses as husband and wife in the prescribed limits of Almighty Allah. Therefore have decided to separate with each other by executing this Divorce Deed forever and for good.


I,	________________________________	pronounce	three

irrevocable Talaq (divorce) to my wife Mst. ________________ as

under:-


1.	I, ______________________ son of __________________________

divorce to my wife  Mst.  ____________________ daughter of

____________________________.


2.	I, ______________________ son of __________________________

divorce to my wife  Mst.  ____________________ daughter of

____________________________.




3.	I, ______________________ son of __________________________

divorce to my wife  Mst.  ____________________ daughter of

____________________________.







THAT  I,  __________________________  has  pronounce  three

Divorce	by	executing	this	divorce	deed	in	the	presence	of

witnesses	and	after	pronouncing	three	divorces

________________________ is free	from the wedlock of marriage

with  _________________________  and  she  can  choose  her  future

after her iddat period. I, ___________________________ has divorce

her and she can contract marriage where she life after the iddat period. I have also paid her dower amount.


That she has already received her all dowry articles and there is nothing with me. The kids are living with her and I am free to get their custody.
 







Continue on Page……3

Page…3


IN WITNESSES WHERE I HAVE SET AND SUBSRCRIBE MY HANDS ON THE DATE AND DAY ABOVE MENTIONED.


Karachi	
Dated	____________________
			Executants
			_______________
			son _________________
			CNIC No. _________________
WITNESSES	
			Identified by me
			Advocate
1______________		
_______________	
CNIC No._________	
2._______________	
_________________	
CNIC No.________	


				</p>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="col-lg-3">
				<div class="rating-block">
				
			
				
			</div>
		

		</div>

	</div> <!-- /container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<div id="myOverlay" class="overlay">
		<span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
		<div class="overlay-content">
			<form action="/action_page.php">
				<input type="text" placeholder="Search.." name="search">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
	</div>










	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>

